.photo{
  height:50px;
  box-shadow: gray 0.3em 0.3em 0.3em  ;
}

mat-table{
  width: 96%;
  margin: 2%;
  padding: .5em;
}

ng-container{
  width: 15%;
  margin:3px;
}

td{
  padding:2px;
  width: 17%;
}

th{
  padding:3px;
}
.container{margin-top:    14%;
margin-left: 10%;}
