.spacer{
  flex : 1 1 auto;
}
a {
  text-decoration: none;
  color:black;
}
.menu-list{
  margin: left 3px ;
}
.nav2{
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.white{
background-color: #e9e3e7;
}

img{
  width: 200px;
  margin-top: 15%;
}
