<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start" style="background-color: #E7DEE8;">
    <img src="assets/1819.png" alt="photo" class="photo">
    <mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Produits</span>
				<mat-icon mat-list-icon>management</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item routerLink="/addproduct">Ajout un produit</a>
				<a mat-list-item routerLink="/listproduct">Liste du produits</a>
        <a mat-list-item routerLink="/listcommande">Liste des commandes</a>
				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Categories</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item routerLink="/addcategory">Liste de categories</mat-list-item>
				</div>
        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Marques</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item routerLink="/addmarque">Liste de marque</mat-list-item>
				</div>
			</div>


		</mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="accunt" >
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Dashboard

      <span class="toolbar-spacer"></span>
      <a routerLink="/home"><mat-icon>logout</mat-icon></a>




    </mat-toolbar>


    <mat-card>
      <mat-card-title>Modifier un Produit</mat-card-title>
      <mat-card-content>


            <form
              [formGroup]="ProductForm"
              (ngSubmit)="updateProductForm()"
              #resetStudentForm="ngForm"
              novalidate
            >


                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="label" formControlName="label" />

                  </mat-form-field>
         <!-- Email -->
         <mat-form-field class="example-full-width">
          <input matInput placeholder="description" formControlName="description" />


        </mat-form-field>



                  <mat-form-field class="example-full-width">
                    <mat-select formControlName="brand" placeholder="choix un marque">
                      <mat-option  >
                        gucci
                      </mat-option>
                    </mat-select>

                  </mat-form-field>


                  <mat-form-field class="example-full-width">
                    <mat-select formControlName="categorie" multiple placeholder="choix un categorie">
                      <mat-option>
                        lunette solaire
                      </mat-option>
                    </mat-select>


                  </mat-form-field>

                  <!-- ville -->
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="prix"
                      formControlName="price"
                    />

                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="prix promotionnel"
                      formControlName="pricepromo"
                    />

                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="couleur"
                      formControlName="couleur"
                    />

                  </mat-form-field>



                    <button class="ID" mat-raised-button color="accent" (click)="updateProductForm()" mat-flat-button color="warn">
                      Update
                    </button>


            </form>

      </mat-card-content>
    </mat-card>




</mat-sidenav-content>



</mat-sidenav-container>



