<app-header></app-header>
<section class="product-single theme3 pt-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="position-relative">
                    <span class="badge badge-danger top-right">New</span>
                </div>
                <div class="product-sync-init mb-20">
                    <div class="single-product">
                        <div class="product-thumb">
                            <img class="float-right" width="650" [src]="prefUrlImage+product.image" alt="product-thumb">
                        </div>
                    </div>

                    <!-- single-product end -->
                </div>


            </div>
            <div class="col-lg-6 mt-5 mt-md-0">
                <div class="single-product-info">
                    <div class="single-product-head">
                        <h2 class="title mb-20">{{ product.name }}</h2>
                        <div class="star-content mb-20">
                            <span class="star-on"><i class="ion-ios-star"></i> </span>
                            <span class="star-on"><i class="ion-ios-star"></i> </span>
                            <span class="star-on"><i class="ion-ios-star"></i> </span>
                            <span class="star-on"><i class="ion-ios-star"></i> </span>
                            <span class="star-on"><i class="ion-ios-star"></i> </span>

                        </div>
                    </div>
                    <div class="product-body mb-40">
                        <div class="d-flex align-items-center mb-30">
                            <h6 class="product-price mr-20"><del class="del">${{ (product.price*1.1).toFixed(2) }}</del>
                                <span class="onsale">${{ product.price }}</span></h6>
                            <span class="badge position-static bg-dark rounded-0">Save 10%</span>
                        </div>
                        <p>Description : {{ product.description}}</p>

                    </div>
                    <div class="product-footer">
                        <div class="product-count style d-flex flex-column flex-sm-row mt-30 mb-30">

                            <div>
                                <button (click)="addCart(product)" class="btn theme-btn--dark3 btn--xl mt-5 mt-sm-0 rounded-5" data-toggle="modal" [attr.data-target]="'#add-to-cart-'+product.idProduct">
                                <span class="mr-2"><i class="ion-android-add"></i></span>
                                Add to cart
                              </button>
                            </div>

                        </div>

                        <div class="pro-social-links mt-10">
                            <ul class="d-flex align-items-center">
                                <li class="share">Share</li>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-google"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="modal fade style3" *ngFor="let product of products" [id]="'add-to-cart-'+product.idProduct" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header justify-content-center bg-dark">
              <h5 class="modal-title" id="add-to-cartCenterTitle"> <span class="ion-checkmark-round"></span> Product successfully added to your shopping cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-lg-5 divide-right">
                      <div class="row">
                          <div class="col-md-6">
                              <img width="360" [src]="prefUrlImage+product.image" alt="img">
                          </div>
                          <div class="col-md-6 mb-2 mb-md-0">
                              <h4 class="product-name">{{ product.name}}</h4>
                              <h5 class="price">Price: ${{ product.price}}</h5>
                              <h6 class="quantity"><strong>Quantity:</strong>&nbsp;1</h6>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-7">
                      <div class="modal-cart-content">
                          <p class="cart-products-count">There is 1 item in your cart.</p>
                          <p><strong>Total products:</strong>&nbsp;${{ product.price}}</p>
                          <p><strong>Total shipping:</strong>&nbsp;$0.00 </p>
                          <p><strong>Taxes 20% :</strong>&nbsp;${{ (product.price*0.2).toFixed(2) }}</p>
                          <p><strong>Total:</strong>&nbsp;${{ (product.price*1.2).toFixed(2) }}</p>
                          <div class="cart-content-btn">
                              <button type="button" class="btn theme-btn--dark1 btn--md mt-4 mr-2" data-dismiss="modal">Continue
                        shopping</button>
                              <button routerLink="/checkout" class="btn theme-btn--dark1 btn--md mt-4" data-dismiss="modal"><i
                            class="ion-checkmark-round"></i>Proceed to
                        checkout</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
