
<div class="cc">
<div class="container d-flex justify-content-center mt-100">
  <div class="row">
      <div class="col-md-3"  *ngFor="let data of Products">
          <div class="product-wrapper mb-45 text-center">
            <div class="product-img"> <a [routerLink]="['/singleproduct',data._id]" data-abc="true"> <img [src]="getUrl(data.photo)" alt="photo" style="width:300px;height:200px;"> </a> <span class="text-center"> <del *ngIf="data.pricepromo > 0">{{data.price | currency:'TND ':false}}</del></span>
              <div id="cercle" *ngIf="data.pricepromo > 0">{{data.pricepromo}}</div>

              <div class="product-action">
                      <div class="product-action-style">  <a [routerLink]="['/add-cart/',data._id]"> <i class="fa fa-shopping-cart"></i> </a> </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
